<div class="hidden">
    <div class="optionsContainer" data-dojo-attach-point="optionContainerNode">
        <table class="overlayTable hidden" data-dojo-attach-point="currentNoticeTableNode">
            <tr>
                <th>Lao</th>
                <th>Français</th>
                <th>English</th>
            </tr>
        </table>
        <span class="icon-question option-icon" data-dojo-attach-point="btnCurrentNoticeNode"></span>
        <span class="icon-volume-medium option-icon" data-dojo-attach-point="soundInterruptorNode"></span>
    </div>
    <h2>Lao letter Challenge</h2>
    <button type="button" class="big-button" data-dojo-attach-point="launchBtnNode">Try a new ${title}</button>
    <div class="sub-container clear-box">
        <div class="letter-container" data-dojo-attach-point="laoLetterNode"></div>
        <div class="illustration-container hidden splitted-container" data-dojo-attach-point="illustrationNode">
            <span class="" data-dojo-attach-point="laoWordNode"></span>
            <img class="hidden" data-dojo-attach-point="illustrationImgNode" src="" />
        </div>
    </div>
    <div class="bottom-container">
        <div class="input-text-container hidden" data-dojo-attach-point="romLettersNode">
            <button type="button" data-dojo-attach-point="anwserBtn1" class="romLetterBtn"></button>
            <button type="button" data-dojo-attach-point="anwserBtn2" class="romLetterBtn"></button>
            <button type="button" data-dojo-attach-point="anwserBtn3" class="romLetterBtn"></button>
        </div>
        <div class="input-text-container hidden" data-dojo-attach-point="answerInputContainerNode">
            <input type="text" data-dojo-attach-point="answerInputNode" class="big-input" value="" />
        </div>
        <div class="special-text hidden" data-dojo-attach-point="chronometer" data-dojo-type="app/Chronometer"></div>
        <div class="special-text hidden" data-dojo-attach-point="scoreNode"></div>
    </div>
    <audio data-dojo-attach-point="playerNode">
        <source data-dojo-attach-point="playerSourceNode" type="audio/mp3" /> Votre navigateur n'est pas compatible
    </audio>
</div>
