<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>LAOLOL: games to learn Lao Language</title>
    <script type="text/javascript">
    window.dojoConfig = {
        async: true,
        parseOnLoad: true,
        baseUrl: '',
        packages: [{
            name: 'dojo',
            location: 'public/lib/dojo'
        }, {
            name: 'dijit',
            location: 'public/lib/dijit'
        }, {
            name: 'app',
            location: 'public/js/app'
        }, {
            name: 'util',
            location: 'public/js/util'
        }]
    };
    </script>
    <!-- <script src="public/lib/dojo-release-1.10.4-src/dojo.js"></script> -->
    <script src="public/lib/dojo/dojo.js"></script>
    <link rel="stylesheet" href="style/icomoon.css" />
    <link rel="stylesheet" href="style/index.css" />
    <link rel="icon" href="favicon.ico" />
    <script type="text/javascript" src="/client/views/index/index.js"></script>
</head>

<body>
    <div class="all-container">
        <div class="full-screen-mobile-container">
            <div class="simple-mobile-container header-container">
                <h1 class="big-title">
                    <img alt="laolol" src="/public/images/laolol_title.png" /><span>LAOLOL</span>
                </h1>
            </div>
            <div id="laoLetterTabContainer" class="tabs-container clear-box">
                <div class="simple-tab" title="consonant">
                    <span class="main-tab-text">ອັກສອນ</span>
                    <br /> consonants
                    <br /> consonnes
                </div>
                <div class="simple-tab inactive" title="vowel">
                    <span class="main-tab-text">ສະຫຼະ</span>
                    <br /> vowels
                    <br /> voyelles
                </div>
                <div class="simple-tab inactive" title="number">
                    <span class="main-tab-text">ເລກ</span>
                    <br /> numbers
                    <br /> nombres
                </div>
            </div>
            <div id="laoLetterChallengeContainer" class="simple-mobile-container  main-container">
                <img class="global-loader" id="globalLoaderNode" src="/public/images/big_blue_loader.gif" />
            </div>
        </div>
    </div>
</body>

</html>
